/data/*
!/data/.gitkeep
.idea/
.DS_Store
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
/notebooks/RecSys.Task0.Implementation.ipynb
/notebooks/Untitled.ipynb
/.ipynb_checkpoints/
/aux_files/kaggle.json

/artefacts/task_1/baseline/*
!/artefacts/task_1/baseline/.gitkeep

/artefacts/task_1/most_frequent/*
!/artefacts/task_1/most_frequent/.gitkeep

/artefacts/task_1/nn/*
!/artefacts/task_1/nn/.gitkeep

/artefacts/task_1/svd/*
!/artefacts/task_1/svd/.gitkeep

/artefacts/task_1/*.pkl
/artefacts/task_1/*.npz
